In [4]:
# Q1. Information about the apple company is given in the below variable b, (10 points) 
# Write the python codes (not more than 5 lines) to

# Find out where (the country) the Apple company is located and what is its gross profits. Print out your answer. 
# convert the variable 'b' to Pandas dataframe (Hint: refer to the internet how to convert from dictionary to data frame). 

# The location of Apple Company
b = {'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'website': 'https://www.apple.com', 'recommendationKey': 'buy', 'gross profits': 152836000000, 'freeCashflow': 73295003648, 'targetMedianPrice': 170, 'currentPrice': 174.56, 'earningsGrowth': 0.662, 'currentRatio': 1.075}
print(b['country'])

import pandas as pd
df = pd.DataFrame(list(b.items()),columns = ['Name','Data']) 
print (df)
print (type(df))

United States
                 Name                   Data
0                city              Cupertino
1               phone           408 996 1010
2               state                     CA
3             country          United States
4             website  https://www.apple.com
5   recommendationKey                    buy
6       gross profits           152836000000
7        freeCashflow            73295003648
8   targetMedianPrice                    170
9        currentPrice                 174.56
10     earningsGrowth                  0.662
11       currentRatio                  1.075
<class 'pandas.core.frame.DataFrame'>

In [7]:
df = pd.read_csv('rentals.csv')
df.columns

Index(['id', 'latitude', 'longitude', 'property_type', 'room_type',
       'bathrooms', 'bedrooms', 'minimum_nights', 'price'],
      dtype='object')

In [17]:
# Write one-line python code (using groupby function) to print the average price of houses for each property type and

df1=df.groupby('property_type')[['price']].mean()
df1

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  exec(code_obj, self.user_global_ns, self.user_ns)

Empty DataFrame
Columns: []
Index: [Aparthotel, Apartment, Bed and breakfast, Boutique hotel, Bungalow, Cabin, Camper/RV, Castle, Condominium, Cottage, Dome house, Earth house, Guest suite, Guesthouse, Hostel, Hotel, House, Hut, In-law, Loft, Other, Resort, Serviced apartment, Tiny house, Townhouse, Villa]

In [22]:
# write Python codes (not more than 5 lines) to draw a boxplot graph to visualize the price distribution based on the property type. (15 points) 

import matplotlib.pyplot as plt
plt.figure(figsize = (12, 5))
Aparthotel = df[df['property_type']=='Aparthotel']
Apartment = df[df['property_type']=='Apartment']

plt.boxplot([Aparthotel['property_type'], Apartment['property_type']], labels = ['Aparthotel', 'Apartment])
plt.show()

SyntaxError: ignored